<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />

		<link rel="stylesheet" href="../Resources/css/vant.css" />
		<script src="../Resources/js/language/fklanguage.js"></script>
		<script src="../Resources/js/config.js"></script>
		<script src="../Resources/js/commom.js"></script>
		<!-- vue.min.js -->
		<script src="../Resources/js/vue.min.js"></script>
		<!-- vant.min.js -->
		<script src="../Resources/js/vant.min.js"></script>

		<script src="../Resources/js/axios.min.js"></script>
		<title></title>

		<style>
			body {
				background-color: #F7F8FA;
			}
			.listcard-div {
				border: 1px #EEF0F3 solid;
				margin: 8px;
			}
			.listcard-div p {
				font-size: 14px;
				padding-left: 20px;
			}
			.wrapper {
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    height: 100%;
			}
			.van-dialog__footer {
				display: flex;
			}
			 .child {
			    width: 40px;
			    height: 40px;
			    background: #f2f3f5;
			    border-radius: 4px;
			  }
		</style>
	</head>
	<body>
		<div id="app">
			<form >
				<van-nav-bar :left-text=fkTextDefault.Common.Back @click-left="onClickReturn" left-arrow>
				</van-nav-bar>
				<van-pull-refresh v-model="isDownLoading" :success-text=fkTextDefault.Common.RefreshSuccess  >
					<van-list v-model="isUpLoading" :finished="upFinished" :immediate-check="false" :offset="10" >

						<div style="margin-top: 15px;min-height: 300px;">
							<div class="listcard-div" v-for="(v,i) in cacheDataList" :key="v.id">
								<van-cell  :title="v.item"    center  size="large">
										<template #label v-if = "['06_IT','07'].includes(model)">
											<van-row style="text-align: left;">
											  <van-col span="12">{{fkTextDefault.Common.BINFrom}}：{{v.bin}}</van-col>
											  <van-col span="12" style="text-align: right;">{{fkTextDefault.Common.Batch}}：{{v.batch}}</van-col>
											</van-row>
											<van-row style="text-align: left;">
											  <van-col span="12">{{fkTextDefault.Common.BINTo}}：{{v.toBin}}</van-col>
											  <van-col span="12" style="text-align: right;">{{fkTextDefault.Common.Quantity}}：{{v.quantity}}</van-col>
											</van-row>
										</template>
										<template #label v-else>
											<van-row style="text-align: left;">
											   <van-col span="12">{{fkTextDefault.Common.Bin}}：{{v.bin}}</van-col>
											   <van-col span="12" style="text-align: right;">{{fkTextDefault.Common.Batch}}：{{v.batch}}</van-col>
											</van-row>
											<van-row style="text-align: left;">
											  <van-col span="24" style="text-align: right;">{{fkTextDefault.Common.Quantity}}：{{v.quantity}}</van-col>
											</van-row>
										</template>
								</van-cell>
								<van-row>
								  <van-col span="12"><van-cell style="color:#f00;text-align:center;" :title=fkTextDefault.Common.Delete @click="deleteCacheItem(i)"></van-cell> 
									</van-col>
								  <van-col span="12" style="border-left:solid #F7F8FA 1px"><van-cell style="color:#4789fa;text-align:center;" :title=fkTextDefault.Common.Edit @click="showEditPage(v)"></van-cell> 
									</van-col>
								</van-row>
							</div>
							<van-empty :description=fkTextDefault.Common.EmptyTip v-if="isShowEmpty"></van-empty>
						</div>
					</van-list>
				</van-pull-refresh>
			</form>
		</div>
	</body>
	<script>
		var app = new Vue({
			el: '#app',
			data() {
				return {
					model:"",
					itemJson: {},
					parentData:[],
					cacheDataList:[],
					initPageData: [],                           //用来备份当前页面数据
					isShowEmpty: false, 						//搜索结果为空  显示
					isShowOverlay: true, 						//搜索过程中显示
					SearchText: '', 							//搜索框的内容
					isDownLoading: false, 						//下拉刷新
					upFinished: false, 							//上拉加载完毕
					isUpLoading: false, 						//上拉刷新
					offset: 100, 								//滚动条与底部距离小于 offset时  触发load事件
					listcardData: [], 							//请求数据
					pageIndex: 0, 								//页码
					pageSize: 10, 								//每页条数
					checkRemainModel: ["01","02","03","04","06_TO_01","06_TO_02"],   //校验数量的模块
				};
			},
			//生命周期---初始化数据
			created() {
				fkcommom.iframe.receive("item", this.afterEditPage);
				
				this.init();
			},
			methods: {
				//获取main页面传过来的数据
				init(){
					this.parentData=fkcommom.iframe.getData();
					this.model = fkcommom.url.getQueryValue("model");
					this.getDocumentTitle();
					console.log("this.model",this.model);
					console.log("this.parentData",this.parentData)
					this.cacheDataList = this.parentData.cachelist;
					this.itemJson = this.parentData.itemjson;
					if(this.cacheDataList.length==0) this.isShowEmpty=true;
				},
				getDocumentTitle(){
					switch(this.model){
					    case '01':
							document.title = fkTextDefault.Common.M01_Name;
							break;
					    case '02':
							document.title = fkTextDefault.Common.M02_Name;
							break;
					    case '03':
							document.title = fkTextDefault.Common.M03_Name;
							break;
					    case '04':
							document.title = fkTextDefault.Common.M04_Name;
							break;
					    case '05':
							document.title = fkTextDefault.Common.M05_Name;
							break;
					    case '06_IT':
							document.title = fkTextDefault.Common.M06_Name;
							break;
						case '06_TO':
							document.title = fkTextDefault.Common.M06_Name;
							break;
					    case '07':
							document.title = fkTextDefault.Common.M07_Name;
							break;
						case '08':
							document.title = fkTextDefault.Common.M08_Name;
							break;
					}
				},
				deleteCacheItem(i) {
					vant.Dialog.confirm({
						title: fkTextDefault.Common.TipTitle,
						message: fkTextDefault.Common.ComfimDelete,//'确认删除吗?',
					}) .then(() => {
						this.confirmDeleteCacheItem(i);
					}) .catch(() => {
						//cancel
					});
					
				},
				confirmDeleteCacheItem(i) {
					this.cacheDataList.splice(i, 1);
				},
				onClickReturn(){
					fkcommom.iframe.returnData(this.cacheDataList);
					fkcommom.iframe.disposal();
				},
				showEditPage(data){
					let url = "../Controls/ScanItem.html";
					url += "?model="+this.model;
					var setData = {
						itemData : data,
					}
					if(this.checkRemainModel.includes(this.model)){
						var qty = 0;
						for (var i = 0; i < this.cacheDataList.length; i++) {
							qty += this.cacheDataList[i].quantity;
						}
						let qtyRemain = this.itemJson.qtyRemain - (qty - data.quantity);
						setData.qtyRemain = qtyRemain;
					}
					this.initPageData = fkcommom.clone(this.cacheDataList);
					fkcommom.iframe.show("item", url, setData);
				},
				afterEditPage(data){
					if(data){
						this.initPageData = fkcommom.clone(this.cacheDataList);
					}else{
						this.cacheDataList = fkcommom.clone(this.initPageData);
					}
				}
			},
		});
		
	</script>
</html>
